In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
plt.rcParams['figure.figsize']=[10,4]

In [2]:
df=pd.read_csv('/content/drive/MyDrive/companies.csv')
df.head()

,id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,...,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
0,c:1,0,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,...,2010-09-05,2013-09-18,5.0,17.0,initial-importer,2007-05-25 06:51:27,2013-04-13 03:29:00,47.606209,-122.332071,15.5
1,c:10,1,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,...,NaN,NaN,NaN,6.0,initial-importer,2007-05-31 21:11:51,2008-05-23 23:23:14,34.021122,-118.396467,NaN
2,c:100,2,Company,100,NaN,There,there,/company/there,games_video,acquired,...,2003-02-01,2011-09-23,4.0,12.0,initial-importer,2007-08-06 23:52:45,2013-11-04 02:09:48,37.562992,-122.325525,NaN
3,c:10000,3,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 16:51:57,2008-09-06 14:19:18,NaN,NaN,NaN
4,c:10001,4,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,...,NaN,NaN,NaN,NaN,NaN,2008-08-24 17:10:34,2008-09-06 14:19:18,NaN,NaN,NaN

In [3]:
df.describe() #exploring the dataset

,Unnamed: 0.1,entity_id,parent_id,logo_width,logo_height,investment_rounds,invested_companies,funding_rounds,funding_total_usd,milestones,relationships,lat,lng,ROI
count,196553.000000,196553.000000,0.0,110110.000000,110110.000000,2591.000000,2591.000000,31707.000000,2.787400e+04,91699.000000,129667.000000,83852.000000,83852.000000,726.000000
mean,98276.000000,153006.227333,NaN,459.132685,222.728917,2.372057,2.204940,1.659760,1.481652e+07,1.199402,2.852067,37.564512,-52.123066,45.745037
std,56740.108067,90209.250941,NaN,594.982577,333.090722,12.173510,11.436955,1.201666,6.775937e+07,0.540099,9.100309,15.477102,70.049067,572.035638
min,0.000000,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,2.910000e+02,1.000000,1.000000,-50.942326,-159.497746,0.011111
25%,49138.000000,59850.000000,NaN,192.000000,70.000000,1.000000,1.000000,1.000000,5.000000e+05,1.000000,1.000000,34.052234,-111.940005,2.648879
50%,98276.000000,174539.000000,NaN,267.000000,105.000000,1.000000,1.000000,1.000000,2.564500e+06,1.000000,1.000000,39.768403,-77.036871,6.500497
75%,147414.000000,232655.000000,NaN,484.000000,232.000000,1.000000,1.000000,2.000000,1.100000e+07,1.000000,3.000000,45.421530,-0.127758,13.549900
max,196552.000000,286215.000000,NaN,18200.000000,9600.000000,478.000000,459.000000,15.000000,5.700000e+09,9.000000,1189.000000,77.553604,176.212549,13333.333333

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 44 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   196553 non-null  object
 1   Unnamed: 0.1         196553 non-null  int64
 2   entity_type          196553 non-null  object
 3   entity_id            196553 non-null  int64
 4   parent_id            0 non-null       float64
 5   name                 196531 non-null  object
 6   normalized_name      196527 non-null  object
 7   permalink            196553 non-null  object
 8   category_code        123186 non-null  object
 9   status               196553 non-null  object
 10  founded_at           91227 non-null   object
 11  closed_at            2620 non-null    object
 12  domain               126545 non-null  object
 13  homepage_url         126545 non-null  object
 14  twitter_username     80591 non-null   object
 15  logo_url             110110 non-null  object
 16  logo_width           110110 non-null  float64
 17  logo_height          110110 non-null  float64
 18  short_description    7131 non-null    object
 19  description          92048 non-null   object
 20  overview             126971 non-null  object
 21  tag_list             81452 non-null   object
 22  country_code         87990 non-null   object
 23  state_code           50903 non-null   object
 24  city                 83890 non-null   object
 25  region               196553 non-null  object
 26  first_investment_at  2583 non-null    object
 27  last_investment_at   2583 non-null    object
 28  investment_rounds    2591 non-null    float64
 29  invested_companies   2591 non-null    float64
 30  first_funding_at     31507 non-null   object
 31  last_funding_at      31507 non-null   object
 32  funding_rounds       31707 non-null   float64
 33  funding_total_usd    27874 non-null   float64
 34  first_milestone_at   91699 non-null   object
 35  last_milestone_at    91699 non-null   object
 36  milestones           91699 non-null   float64
 37  relationships        129667 non-null  float64
 38  created_by           155533 non-null  object
 39  created_at           196553 non-null  object
 40  updated_at           196553 non-null  object
 41  lat                  83852 non-null   float64
 42  lng                  83852 non-null   float64
 43  ROI                  726 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 66.0+ MB

In [5]:
df.isnull().sum() #check null values

id                          0
Unnamed: 0.1                0
entity_type                 0
entity_id                   0
parent_id              196553
name                       22
normalized_name            26
permalink                   0
category_code           73367
status                      0
founded_at             105326
closed_at              193933
domain                  70008
homepage_url            70008
twitter_username       115962
logo_url                86443
logo_width              86443
logo_height             86443
short_description      189422
description            104505
overview                69582
tag_list               115101
country_code           108563
state_code             145650
city                   112663
region                      0
first_investment_at    193970
last_investment_at     193970
investment_rounds      193962
invested_companies     193962
first_funding_at       165046
last_funding_at        165046
funding_rounds         164846
funding_total_usd      168679
first_milestone_at     104854
last_milestone_at      104854
milestones             104854
relationships           66886
created_by              41020
created_at                  0
updated_at                  0
lat                    112701
lng                    112701
ROI                    195827
dtype: int64

In [6]:
df.shape

(196553, 44)

In [7]:
df.duplicated().sum()#checking duplicates

0

In [8]:
df.columns

Index(['id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'name',
       'normalized_name', 'permalink', 'category_code', 'status', 'founded_at',
       'closed_at', 'domain', 'homepage_url', 'twitter_username', 'logo_url',
       'logo_width', 'logo_height', 'short_description', 'description',
       'overview', 'tag_list', 'country_code', 'state_code', 'city', 'region',
       'first_investment_at', 'last_investment_at', 'investment_rounds',
       'invested_companies', 'first_funding_at', 'last_funding_at',
       'funding_rounds', 'funding_total_usd', 'first_milestone_at',
       'last_milestone_at', 'milestones', 'relationships', 'created_by',
       'created_at', 'updated_at', 'lat', 'lng', 'ROI'],
      dtype='object')

In [9]:
#converting the object to date format
df['founded_at'] =  pd.to_datetime(df['founded_at'], format='%Y-%m-%d', errors = 'coerce') # converting column into date and ignoring errors
df['closed_at'] =  pd.to_datetime(df['founded_at'], format='%Y-%m-%d', errors = 'coerce') # converting column into date and ignoring errors
df['first_funding_at'] =  pd.to_datetime(df['first_funding_at'], format='%Y-%m-%d', errors = 'coerce')  # converting column into date and ignoring errors
df['last_funding_at'] =  pd.to_datetime(df['last_funding_at'], format='%Y-%m-%d', errors = 'coerce')  # converting column into date and ignoring errors
df['founded_year'] =  pd.to_datetime(df['founded_at'], format='%Y', errors = 'coerce') # converting column into date and ignoring errors
df['first_investment_at'] =  pd.to_datetime(df['first_investment_at'], format='%Y-%m-%d', errors = 'coerce') # converting column into date and ignoring errors
df['last_investment_at'] =  pd.to_datetime(df['last_investment_at'], format='%Y-%m-%d', errors = 'coerce')
#df['founded_month'] =  pd.to_datetime(df['founded_at'], format='%Y-%m', errors = 'coerce')

In [10]:
df['funding_total_usd'] = pd.to_numeric(df['funding_total_usd'])# turning column to number

In [11]:
df.nunique() # finding out unique values for each column

id                     196553
Unnamed: 0.1           196553
entity_type                 1
entity_id              196553
parent_id                   0
name                   196348
normalized_name        195451
permalink              196512
category_code              42
status                      4
founded_at               6156
closed_at                6156
domain                 125498
homepage_url           125961
twitter_username        79571
logo_url               110110
logo_width               3325
logo_height              2128
short_description        7126
description             83696
overview               126515
tag_list                79133
country_code              175
state_code                 51
city                    10652
region                   5847
first_investment_at      1197
last_investment_at       1105
investment_rounds          41
invested_companies         37
first_funding_at         3208
last_funding_at          2978
funding_rounds             15
funding_total_usd        9720
first_milestone_at       4080
last_milestone_at        3966
milestones                  9
relationships             155
created_by              55329
created_at             182851
updated_at             183558
lat                      7962
lng                      7954
ROI                       657
founded_year             6156
dtype: int64

In [12]:
df.groupby('status')['funding_rounds'].describe()

             count      mean       std  min  25%  50%  75%   max
status
acquired    2593.0  1.896645  1.278729  1.0  1.0  1.0  2.0  12.0
closed      2089.0  1.383437  0.834444  1.0  1.0  1.0  2.0   8.0
ipo          490.0  2.526531  2.219156  1.0  1.0  2.0  3.0  13.0
operating  26535.0  1.642359  1.180895  1.0  1.0  1.0  2.0  15.0

In [ ]:
#dropping some unnecessary columns
columns_to_drop = ['Unnamed: 0.1', 'permalink', 'normalized_name','short_description','entity_type','parent_id']
df.drop(columns=columns_to_drop, inplace=True)

In [19]:
#Dropping columns which have NaN values.
threshold = 0.85
columns_to_drop = df.columns[df.isnull().mean() > threshold]
df.drop(columns=columns_to_drop, inplace=True)

In [20]:

df.drop_duplicates(inplace=True)
print(df.shape)

(196553, 34)

Data Encoding

In [23]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['encoded_column'] = label_encoder.fit_transform(df['status'])
from sklearn.preprocessing import LabelEncoder
df['label'] = label_encoder.fit_transform(df['status'])

# Display the mapping between original values and encoded values
label_mapping = dict(zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)))
print("Label Mapping:", label_mapping)

Label Mapping: {'acquired': 0, 'closed': 1, 'ipo': 2, 'operating': 3}

In [ ]:
#making multi class variable to binary class variable

acquired - operating

operating - operating

closed  -  not operating

ipo   -  operating

In [26]:
#making target variable contains only operating and not operating
label_mapping = {'acquired': 'operating', 'closed': 'not operating', 'ipo': 'operating', 'operating':'operating'}
df['label'] = df['status'].map(label_mapping)
df['label']

0         operating
1         operating
2         operating
3         operating
4         operating
            ...
196548    operating
196549    operating
196550    operating
196551    operating
196552    operating
Name: label, Length: 196553, dtype: object

In [28]:
df.value_counts("label",normalize=True)

label
3    0.933290
0    0.047794
1    0.013147
2    0.005769
dtype: float64